html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* PAGE CSS */

body {
  --header-height: 60px;
  --footer-height: 80px;
  background-image: url(../assets/images/restaurant2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

header {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
}

.logo {
    width: 100px;
    height: 50px;
    background-color: white;
    margin-left: 20px;
}

.navbar {
  height: 100%;
}

.navbar ul {
  list-style-type: none; 
  height: 100%;
}

.nav-item {
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 20px;
  border-left: 1px solid white;
  background-color: purple;
}

.nav-item:hover {
  filter: brightness(1.2);
}

.nav-links {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid white;
}

.nav-focus {
  background-color: pink;
}

.nav-focus a {
  color: darkmagenta;
  border-bottom: 1px solid darkmagenta;
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  height: 110vh; 
  background-image: linear-gradient(black, darkgrey);
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.hero-img-container {
  margin-right: 0px;
  min-height: 110vh;
}

.hero-img-container img {
  height: 100%;
}



.fixed-background {
  height: 80vh;
}

.more-info-section {
  background-color: grey;
  height: calc(100vh - var(--footer-height));
}

footer {
  height: var(--footer-height);
  background-color: black;
}
