html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* HOME TAB CSS */

body {
  --header-height: 80px;
  --footer-height: 150px;
}


.home-bg {
  background-image: url(./assets/images/restaurant2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

header {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5C3D2E;
    position: relative;
    z-index: 100;
    border-bottom: 0.5px solid black;
}

.logo {
  position: relative;
  width: 130px;
  height: 65px;
  overflow: hidden;
  background-color: #E0C097;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px black;
  cursor: pointer;
}

.logo img {
  height: calc(var(--header-height) - 20px);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar {
  height: 100%;
}

.navbar ul {
  list-style-type: none; 
  height: 100%;
}

.nav-item {
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 1px solid white;
  background-color: #5C3D2E;
}

.nav-item:hover {
  filter: brightness(1.2);
  transform: translateY(5px);
}

.nav-links {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 5rem;
  text-decoration-line: underline;
  padding-inline: 20px;
}

.nav-focus {
  background-color: #B85C38;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: black;
}

.hero-text-container {
  display: flex;
  z-index:50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  box-shadow: 120px 0px 200px 100px black;
  text-shadow: 0.5px 0px 35px darkgrey;
}

.hero-title {
  margin-bottom: 40px;
  font-size: 3.5rem;
  color: #B85C38;
}

.hero-text {
  font-size: 1.5rem;
  text-align: center;
  margin-inline: 200px;
  color: #E0C097;
}

.highlight-text {
  color:#B85C38;
}

.hero-img-container {
  margin-right: 0px;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.hero-img-container img {
  height: 120%;
  width: auto;
  object-fit: cover;
}

.fixed-background {
  height: 80vh;
}

.more-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#5C3D2E 20%, #B85C38);
  height: calc(100vh - var(--footer-height));
  box-shadow: 0px -100px 180px black;
}

.more-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E0C097;
  width: 90%;
  height:90%;
  border-radius: 40px;
  box-shadow: -10px 0px 15px black;
}

.more-info-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  width: fit-content;
  height: 30%;
  margin-left: auto;
  margin-right: 350px;
  text-align: left;
}

.more-info-subcontainer:first-of-type, .more-info-subcontainer:last-of-type {
  margin-right: auto;
  margin-left: 50px;
}

.more-info-title {
  margin-block: 20px;
  font-weight: bold;
}

.more-info-text {
  width: 400px;
  font-size: 1.2rem;
}

.more-info-subcontainer img {
  border-radius: 20px;
  box-shadow: 1px 1px 15px black;
  height: 100%;
  margin-right: 50px;
}

footer {
  color: white;
  height: var(--footer-height);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-upper-information {
  margin-top: 10px;
  display: flex;
  justify-content: center; 
}

.footer-upper-information > div {
  margin-inline: 100px;
  margin-bottom: 5px;
}

.footer-opening-hours {
  display: flex;
  width: 200px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-title {
  width: 100%;
  margin-block: 10px;
}

.days {
  margin-right: 30px;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.footer-link:hover {
  color: #B85C38;
}

.footer-social-media i {
  font-size: 1.6rem;
  margin-right: 8px;
}

.footer-social-media a:visited {
  text-decoration: none;
  color: white;
}

.fa-facebook-square:hover {
  color: #4267B2;
  cursor: pointer;
}

.fa-instagram-square:hover {
  color: #C13584;
  cursor: pointer;
}

.fa-twitter-square:hover {
  color: #1DA1F2;
  cursor: pointer;
}

.fa-whatsapp-square:hover {
  color: #25D366;
  cursor: pointer;
}




/* MENU SECTION */

.menu-bg {
  background-image: url(./assets/images/menu/bg-menu.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.menu-section {
  height: calc(100vh - var(--footer-height) - var(--header-height));
  min-height: fit-content;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  height: fit-content;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 310px;
  background-color: #E0C097;
  border-radius: 30px;
  margin: 30px;
  padding-bottom: 15px;
  box-shadow: 1px 1px 20px black, inset 2px 2px 50px -20px black;
  border: 0.5px solid white;
}

.menu-card:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 30px black, inset 2px 2px 50px -20px black;
}

.card-img-container {
  
  height: 170px;
  margin-bottom: 30px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 15px;
  border-radius: 30px;
}

.card-title {
  margin-top: 15px;
  margin-inline: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}

.card-price {
  margin-top: 10px;
  font-size: 1.5rem;
}

/* CONTACT PAGE */

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--footer-height) - var(--header-height));
}

.contact-bg {
  background-color: #5C3D2E;
  background: repeating-linear-gradient( -45deg, #E0C097, #E0C097 20px, #5C3D2E 20px, #5C3D2E 100px );
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #E0C097;
  padding: 50px 30px;
  border-radius: 40px;
}

.form-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-inline: 20px;
  width: 350px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.form-container form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container form input, .form-container form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

input[type='submit'] {
  background-color: #5C3D2E;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
  cursor: pointer;
}

.location-container {
  margin-inline: 20px;
}

.location-container h1 {
  font-weight: bolder;
  margin-bottom: 10px;
}